.loading-screen  {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
}

  .loading-screen.display-none  {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;

    transition: all 0.5s;
    opacity: 0;
    background-color: transparent;

    animation: disappear 0.5s;
    animation-fill-mode: forwards; 
  }

  @keyframes disappear {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
  }

  .charging-battery {
    width: 115px;
    height: 250px;
    border: 5px solid var(--primary);
    border-radius: 10px;
    z-index: 1;
    position: absolute;
    animation:  load 5s linear;
    animation-fill-mode: forwards; 
    transform: rotate(-90deg);
    top: 27%;
    background-color: var(--secondary);
  }

  .charging-battery::after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 30%;
    width: 40%;
    height: 5px;
    border: 5px solid var(--primary);
    border-radius: 1px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transform: rotate(180deg);
  }


  @keyframes load {
    0% {
        box-shadow: 0 -20vw var(--background) inset;
    }
    100% {
        box-shadow: 0 0 var(--background) inset;
    }
  }

  .start-button {
    background-color: var(--primary);
    color: var(--background);
    width: 120px;
    height: auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 1em;
    border-radius: 50%;
    vertical-align: middle;
    z-index: 1;
    position: absolute;
    bottom: 10%;
    box-shadow: 0 0 15px 2px var(--primary);
    cursor: pointer;
  }

  .start-button::before {
    content:'';
    float: left;
    width: auto;
    padding-bottom: 100%;
  }

  .start-text {
    background-color: var(--primary);
    border-radius: 50%;
    text-align: center;
    font-size: 1.3rem;
  }

  @media screen and (max-width:780px) {

    @keyframes load{
      0% {
          box-shadow: 0 -40vw var(--background) inset;
      }
      100% {
          box-shadow: 0 0 var(--background) inset;
      }
    }

    .charging-battery {
      width: 120px;
      height: 250px;
    }

    .start-button {
      width: 115px;
    }
  }

  @media screen and (max-width:426px) {

    @keyframes load{
      0% {
          box-shadow: 0 -65vw var(--background) inset;
      }
      100% {
          box-shadow: 0 0 var(--background) inset;
      }
    }

    .charging-battery {
      width: 100px;
      height: 225px;
    }

    .start-button {
      width: 110px;
    }
  }

  @media screen and (max-width:326px) {

    @keyframes load{
      0% {
          box-shadow: 0 -80vw var(--background) inset;
      }
      100% {
          box-shadow: 0 0 var(--background) inset;
      }
    }

    .charging-battery {
      width: 100px;
      height: 225px;
    }

    .start-button {
      width: 100px;
    }
  }