@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Aldrich", sans-serif;
  font-weight: 400;
  font-style: normal;

  --primary: #FDF9FF;
  --secondary: #7597C4;
  --quintary: #1f2035;
  --background: #06071F;

}

body {
  background-color: var(--background);
}
